<div>
  <div class="pt-6 px-4 sm:px-6 lg:px-8 dark:bg-gray-700">
    <nav class="flex items-center justify-between sm:h-10" aria-label="Global">
      <div class="flex items-center flex-grow flex-shrink-0 lg:mb-4">
        <div class="flex items-center w-full md:w-auto">
          <div
            class="cursor-pointer text-lg text-white"
            *ngIf="router.url !== '/'; else responsiveMenu"
          >
            <i class="fas fa-bars cursor-pointer" (click)="menu()"></i>
          </div>

          <img class="h-8 w-auto sm:h-12 ml-8" src="../../../assets/img/logo.png" />

          <ng-template #responsiveMenu>
            <div class="-mr-2 mb-2 flex items-center md:hidden">
              <i
                class="bg-dark rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 dark:hover:text-dark dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 fas fa-bars cursor-pointer"
                (click)="menuHeader()"
              ></i>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="hidden md:block md:ml-10 md:pr-4 md:space-x-8 lg:mb-4">
        <a
          class="font-medium text-gray-500 hover:text-gray-900 dark:text-white cursor-pointer"
          [ngClass]="router.url === '/' ? '' : 'hidden'"
          routerLink="projects/jtxs"
        >
          <i class="fas fa-project-diagram fa-sm mr-2"></i> Projects
        </a>

        <a
          href="https://github.com/KenethSandoval"
          class="font-medium text-gray-500 hover:text-gray-900 dark:text-white cursor-pointer"
        >
          <i class="fab fa-github"></i>
        </a>

        <a
          href="https://www.linkedin.com/in/keneth-sandoval"
          class="font-medium text-gray-500 hover:text-gray-900 dark:text-white cursor-pointer"
          ><i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </nav>
  </div>

  <div
    class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden"
    [ngClass]="isOpenHeader ? 'hidden' : ''"
  >
    <div
      class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 dark:bg-gray-700"
    >
      <div class="px-5 pt-4 flex items-center">
        <div>
          <img class="h-8 w-auto" src="../../../assets/img/logo.png" alt="" />
        </div>
        <div class="-mr-2">
          <i
            class="bg-dark rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 dark:hover:text-dark dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 fas fa-times cursor-pointer"
            (click)="menuHeader()"
          ></i>
        </div>
      </div>
      <div class="px-2 pt-2 pb-3 space-y-1">
        <a
          routerLink="projects/jtxs"
          class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 dark:hover:text-white dark:hover:bg-gray-500 dark:text-white"
        >
          <i class="fas fa-project-diagram fa-sm mr-2"></i> Projects
        </a>
        <a
          href="https://github.com/KenethSandoval"
          class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 dark:hover:text-white dark:hover:bg-gray-500 dark:text-white"
          ><i class="fab fa-github mr-2"></i>Github</a
        >

        <a
          href="https://www.linkedin.com/in/keneth-sandoval"
          class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 dark:hover:text-white dark:hover:bg-gray-500 dark:text-white"
          ><i class="fab fa-linkedin-in mr-2"></i>Linkedin</a
        >
      </div>
    </div>
  </div>
</div>
