<!--------------------------SIDEBAR----------------------->
<aside
  class="lg:w-64 lg:block"
  [ngClass]="
    this.menuService.isOpen
      ? 'md:hidden md:w-0 hidden w-0'
      : 'lg:hidden md:block md:w-64 block w-64'
  "
>
  <div class="px-3 py-4 overflow-y-scroll rounded bg-gray-50 dark:bg-gray-800">
    <h6 class="font-bold mb-6 dark:text-white">
      <i
        class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-2xl fa-solid fa-box-archive"
      >
      </i>
      <span class="ml-3">Categories</span>
    </h6>
    <ul class="space-y-2">
      <li *ngFor="let menu of menuSidebar">
        <a
          [routerLink]="menu.page"
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          <i [class]="menu.icon"> </i>
          <span class="ml-3">{{ menu.item }}</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
<!-----------------------END SIDEBAR----------------------->
